.so-widget-sow-icon-default-6968e71986df .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-6968e71986df .sow-icon span,
.so-widget-sow-icon-default-6968e71986df .sow-icon a span {
  display: inline-block;
  color: #ffffff !important;
  font-size: 72px !important;
}