.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field {
  display: block;
  margin-bottom: 1em;
  zoom: 1;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field:before {
  content: '';
  display: block;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field > label {
  display: block;
  margin-bottom: 5px;
  
  text-align: left;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field > label strong {
  
  color: #999999;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field > label.sow-form-field-label-left {
  float: left;
  margin-right: 10px;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field > label.sow-form-field-label-right {
  float: right;
  margin-left: 10px;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field .sow-field-container {
  overflow: hidden;
  display: block;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field .sow-field-container textarea:focus,
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field .sow-field-container input:focus,
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field .sow-field-container > :focus {
  outline-style: solid;
  
  outline-width: 1px;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field textarea,
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field .sow-text-field {
  display: block;
  width: 100%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0px;
  margin: 0px;
  border: 1px solid #c0c0c0;
  
  
  
  color: #333333;
  
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field.sow-form-field-checkboxes ul,
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field.sow-form-field-radio ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field.sow-form-field-checkboxes ul li,
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field.sow-form-field-radio ul li {
  margin: 0;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field.sow-form-field-checkboxes ul label,
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field.sow-form-field-radio ul label {
  margin-bottom: 0;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field.sow-form-field-checkboxes ul input,
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field.sow-form-field-radio ul input {
  float: left;
  margin: 0.4em 0.5em 0 0;
  height: auto;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-form-field .sow-form-field-description {
  font-size: 0.9em;
  margin-top: 0.2em;
  margin-left: 0.2em;
  color: #999999;
  font-style: italic;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-recaptcha {
  margin-bottom: 1em;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-contact-form {
  padding: 16px;
  border: #ffffff solid 0px;
  background-color: #ffffff;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-contact-form .sow-error {
  background: #fce4e5;
  border: 1px solid #ec666a;
  color: #ec666a;
  border-radius: 2px;
  padding: 5px;
  font-size: 0.8em;
  list-style: none;
  margin: 0 0 10px 0;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-contact-form .sow-error li {
  margin: 0;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-contact-form .sow-submit-styled {
  text-align: left;
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-contact-form .sow-submit-styled .sow-submit {
  color: #ffffff;
  border: 1px solid #93c753;
  border-radius: 0px;
  font-weight: 500;
  
  padding: 10px 20px;
  display: inline-block;
  
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5);
}
.so-widget-sow-contact-form-default-e63d38dc1257 .sow-contact-form .sow-submit-styled .sow-submit:disabled {
  color: #ffffff;
  background: #c3e0a0;
  border: 1px solid #c3e0a0;
}