.so-widget-sow-icon-default-eb4e8df39788 .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-eb4e8df39788 .sow-icon span,
.so-widget-sow-icon-default-eb4e8df39788 .sow-icon a span {
  display: inline-block;
  color: #000000 !important;
  font-size: 72px !important;
}